/*------------------------------------------
              ROOT VARIABLES
    If you want to change a color, you just
    can change it from here.
  ------------------------------------------*/
:root {
  scroll-behavior: smooth;
  --color-default: #444;
  --color-primary: #00bcd4;
  --color-secondary: #00a7c0;
  --color-white: #f1f1f1;
  --color-blue: #012970;
  --font-primary: "Open Sans", sans-serif;
  --font-secondary: "Nunito", sans-serif;
}

body {
  font-family: var(--font-primary);
  color: var(--color-default);
}

a {
  color: var(--color-secondary);
  text-decoration: none;
  transition: all ease-in-out 0.3s;
}

a:hover {
  color: var(--color-primary);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary);
}

/*------------------------------------------
                    SECTIONS
      this is just top handle as a component
      instead of give a style to each section
  --------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-header {
  text-align: center;
  padding-bottom: 40px;
}

.section-header h2 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 0;
  color: var(--color-secondary);
  text-transform: uppercase;
}

.section-header p {
  margin: 10px 0 0 0;
  padding: 0;
  font-size: 38px;
  line-height: 42px;
  font-weight: 700;
  color: var(--color-default);
}

/*--------------------------------------------------------------

# HEADER

--------------------------------------------------------------*/
.header {
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;
}

.header .logo {
  line-height: 0;
}

/*
#UNCOMMENT TIF YOU WANT TO USE A PICTURE

 .header .logo img {
    max-height: 40px;
    margin-right: 6px;
}

*/

.header .logo span {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  color: var(--color-white);
  font-family: var(--font-secondary);
  margin-top: 3px;
}
.header.header-scrolled {
  background: var(--color-white);
  padding: 15px 0;
  box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
}

.header.header-scrolled .logo span {
  color: var(--color-default);
}

.header.header-scrolled .navbar a,
.header.header-scrolled .navbar a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.header.header-scrolled .navbar a:hover,
.header.header-scrolled .navbar .active,
.header.header-scrolled .navbar .active:focus,
.header.header-scrolled .navbar li:hover > a {
  color: var(--color-secondary);
}

/*--------------------------------------------------------------

  # NAVIGATION MENU

  --------------------------------------------------------------*/

/** DESKTOP NAVIGATION*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: var(--font-secondary);
  font-size: 16px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.6);
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
  color: var(--color-white);
}

/** MOBILE NAVIGATION*/
.mobile-nav-toggle {
  color: var(--color-white);
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.header.header-scrolled .mobile-nav-toggle {
  color: var(--color-default);
}

.mobile-nav-toggle.bi-x {
  color: var(--color-white);
}

.header.header-scrolled .mobile-nav-toggle.bi-x {
  color: var(--color-white);
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 9, 26, 0.719);
  transition: 0.3s;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: var(--color-blue);
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
  color: var(--color-secondary);
}

/*--------------------------------------------------------------

# DARK MODE TOGGLE

--------------------------------------------------------------*/
.switch {
  background: #e4e4e48a;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: inline-flex;
  outline: none;
  margin-left: 10px;
  margin-right: -15px;
}

.switch::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background: var(--color-white);
  top: 0;
  left: 0;
  right: 0;
  border-radius: 100px;
  transition: 0.3s ease all;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.switch.active::after {
  background: var(--color-primary);
  color: #000;
}

.switch.active::after {
  right: 0;
  left: unset;
}

.switch.active::after .theme span {
  color: var(--color-white);
}

.theme span {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  background: none;
  color: var(--color-default);
}
/*--------------------------------------------------------------
  # COVER SECTION
  --------------------------------------------------------------*/
.cover {
  background: linear-gradient(
    to right,
    rgba(39, 70, 133, 0.8) 0%,
    rgba(61, 179, 197, 0.8) 100%
  );
  position: relative;
}

.cover .wave {
  width: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  bottom: -150px;
}

.cover .wave svg {
  width: 100%;
}

.cover,
.cover > .container > .row {
  height: 100vh;
  min-height: 880px;
}

.cover .cover-title {
  margin-bottom: 3rem;
}

.cover h1 {
  margin: 0;
  font-size: 3.5rem;
  font-weight: 700;
  color: var(--color-white);
}

.cover h2 {
  color: var(--color-white);
  margin: 15px 0 0 0;
  font-size: 26px;
}

.cover .btn-get-started {
  margin-top: 30px;
  line-height: 0;
  padding: 15px 20px;
  border-radius: 4px;
  transition: 0.5s;
  color: #fff;
  background: var(--color-primary);
  box-shadow: 0px 5px 30px rgba(65, 84, 241, 0.4);
}

.cover .btn-get-started span {
  font-family: var(--font-secondary);
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
}

.cover .btn-get-started i {
  margin-left: 10px;
  font-size: 18px;
  transition: 0.3s;
}

.cover .btn-get-started:hover {
  background: var(--color-secondary);
}
.cover .btn-get-started:hover i {
  transform: translateY(5px);
}

.cover .cover-img {
  text-align: right;
  margin-top: 4rem;
}

.cover .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

/*------------------------------------------

        ANIMATION FOR THE COVER IMAGE

  --------------------------------------------*/
@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

/*------------------------------------------

        ABOUT JOBBI

  --------------------------------------------*/
.about .section-heading {
  font-size: 3rem;
  font-weight: bolder;
  background: linear-gradient(-45deg, var(--color-primary), var(--color-blue));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about .features .wrap-icon {
  margin: 0 auto;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: relative;
  margin-bottom: 30px;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.about .features .wrap-icon.icon-i {
  background: linear-gradient(
    -45deg,
    var(--color-primary),
    var(--color-secondary)
  );
}

.about .features .wrap-icon i {
  font-size: 40px;
  line-height: 0;
  color: #fff;
}

.about .features h3 {
  font-size: 20px;
}

.about .features p {
  color: #b1b1b1;
}

/*------------------------------------------

       SECTIONS OF STEPS OF HOW TO USE

  --------------------------------------------*/
.step {
  box-shadow: 0 10px 30px -5px rgba(0, 0, 0, 0.1);
  background: var(--color-white);
  padding: 40px;
}

.step .number {
  background: linear-gradient(-45deg, var(--color-primary), var(--color-blue));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  letter-spacing: 0.2rem;
  margin-bottom: 10px;
  display: block;
}

.step p:last-child {
  margin-bottom: 0px;
}

/*------------------------------------------

       Blogs
  --------------------------------------------*/
.recent-blog-posts .section-heading {
  font-size: 3rem;
  font-weight: bolder;
  background: linear-gradient(-45deg, var(--color-primary), var(--color-blue));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.recent-blog-posts .post-box {
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
  transition: 0.3s;
  height: 100%;
  overflow: hidden;
  padding: 30px;
  border-radius: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.recent-blog-posts .post-box .post-img {
  overflow: hidden;
  margin: -30px -30px 15px -30px;
  position: relative;
}

.recent-blog-posts .post-box .post-img img {
  transition: 0.5s;
}

.recent-blog-posts .post-box .post-date {
  font-size: 16px;
  font-weight: 600;
  color: var(--color-default);
  display: block;
  margin-bottom: 10px;
}

.recent-blog-posts .post-box .post-title {
  font-size: 24px;
  color: var(--color-secondary);
  font-weight: 700;
  margin-bottom: 18px;
  position: relative;
  transition: 0.3s;
}

.recent-blog-posts .post-box .readmore {
  display: flex;
  align-items: center;
  font-weight: 600;
  line-height: 1;
  transition: 0.3s;
  color: var(--color-primary);
}

.recent-blog-posts .post-box .readmore i {
  line-height: 0;
  margin-left: 4px;
  font-size: 18px;
}

.recent-blog-posts .post-box:hover .post-title {
  color: var(--color-primary);
}

.recent-blog-posts .post-box:hover .post-img img {
  transform: rotate(6deg) scale(1.2);
}

/*------------------------------------------

       FOOTER SECTION

  --------------------------------------------*/

.footer {
  background: var(--color-white);
  font-size: 14px;
}

/* .footer .footer-newsletter {
  padding: 50px 0;
  background: #f6f9ff;
  border-top: 1px solid #e1ecff;
}

.footer .footer-newsletter h4 {
  font-size: 24px;
  margin: 0 0 10px 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  color: #012970;
}

.footer .footer-newsletter form {
  margin-top: 20px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4px;
  border: 1px solid #e1ecff;
}

.footer .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 8px;
  width: calc(100% - 140px);
}

.footer .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 30px;
  margin: 3px;
  background: #4154f1;
  color: #fff;
  transition: 0.3s;
  border-radius: 4px;
}

.footer .footer-newsletter form input[type="submit"]:hover {
  background: #5969f3;
} */

.footer .footer-top {
  background: #fff;
  background-size: contain;
  border-top: 1px solid #e1ecff;
  padding-top: 60px;
}

.footer .footer-top .footer-info {
  margin-bottom: 30px;
}

.footer .footer-top .footer-info .logo {
  line-height: 0;
  margin-bottom: 15px;
}

/*

-------UNCOMMENT BELOW CODE FOR FOOTER LOGO--------------

.footer .footer-top .footer-info .logo img {
  max-height: 40px;
  margin-right: 6px;
} */

.footer .footer-top .footer-info .logo span {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  color: var(--color-primary);
  margin-top: 3px;
}

.footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Nunito", sans-serif;
}

.footer .footer-top .social-links a {
  font-size: 20px;
  display: inline-block;
  color: var(--color-primary);
  line-height: 0;
  margin-right: 10px;
  transition: 0.3s;
}

.footer .footer-top .social-links a:hover {
  color: var(--color-secondary);
}

.footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: var(--color-secondary);
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px;
}

.footer .footer-top .footer-links {
  margin-bottom: 30px;
}

.footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: var(--color-blue);
  font-size: 12px;
  line-height: 0;
}

.footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

.footer .footer-top .footer-links ul a {
  color: var(--color-default);
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

.footer .footer-top .footer-links ul a:hover {
  color: var(--color-blue);
}

.footer .footer-top .footer-contact p {
  line-height: 26px;
}

.footer .footer-bottom {
  z-index: 2;
  position: relative;
  border-top: 1px solid #5152532a;
  color: var(--color-default);
  width: 100%;
}

.footer .copyright {
  float: left;
  margin-top: 1.5rem;
  color: rgba(49, 49, 49, 0.8);
}

.footer .legal {
  float: right;
  font-size: 13px;
  margin-top: 1.5rem;
}

.footer .legal .footer-terms {
  font-weight: 600;
  color: rgba(119, 119, 119, 0.6);
}

.footer .legal ul.footer-terms li {
  display: inline;
  margin-left: 1rem;
}

.footer .legal ul.footer-terms li a {
  color: rgba(119, 119, 119, 0.6);
}

.footer .legal ul.footer-terms li a:hover {
  color: rgba(2, 183, 255, 0.493);
}
/*------------------------------------------
            RESPONSIVENESS
  --------------------------------------------*/

/** MOBILE NAVIGATION*/
@media (max-width: 768px) {
  /* DISABLE AOS ANIMATION DELAY ON MOBILE DEVICES */
  [data-aos-delay] {
    transition-delay: 0 !important;
  }

  .section-header p {
    font-size: 28px;
    line-height: 32px;
  }

  .cover {
    text-align: center;
  }

  .cover h1 {
    font-size: 32px;
  }

  .cover h2 {
    font-size: 24px;
  }

  .cover .cover-img img {
    width: 60%;
  }

  .footer .copyright,
  .footer .legal {
    float: none !important;
    -moz-text-align-last: center;
    text-align-last: center;
  }
  .footer .legal {
    margin-right: 2.5rem;
  }
}

/** MID SCREEN AND/OR SMALL MONITORS NAVIGATION*/
@media (max-width: 991px) {
  .cover {
    height: auto;
    padding: 120px 0 60px 0;
    text-align: center;
  }

  .cover .wave {
    bottom: -180px;
  }

  .cover .animated {
    -webkit-animation: none;
    animation: none;
  }

  .cover .cover-img {
    text-align: center;
    margin-top: 80px;
  }

  .cover .cover-img img {
    width: 80%;
  }

  .footer .footer-top {
    background-position: center bottom;
  }
}

/** IPADS AND TABLETS NAVIGATION*/
@media (min-width: 1024px) {
  .cover {
    background-attachment: fixed;
  }
}

/** lAPTOPS NAVIGATION*/
@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}
