/*------------------------------------------
        ROOT VARIABLES FOR DARK MODE
    If you want to change a color, you just
    can change it from here.
  ------------------------------------------*/
:root {
  scroll-behavior: smooth;
  --dark-color-default: #f1f1f1;
  --dark-color-primary: #393e46;
  --dark-color-secondary: #00adb5;
  --dark-color-third: #00fff5;
  --dark-color-bg: #222831;
}

/*--------------------------------------------------------------

# BODY BACKGROUND

--------------------------------------------------------------*/
body.dark {
  background-color: var(--dark-color-bg);
  color: var(--dark-color-default);
}

/*--------------------------------------------------------------

# HEADER

--------------------------------------------------------------*/
body.dark .section-header {
  text-align: center;
  padding-bottom: 40px;
}

body.dark .header.header-scrolled {
  background: var(--dark-color-bg);
  padding: 15px 0;
  box-shadow: 0px 2px 20px rgba(54, 54, 54, 0.5);
}

body.dark .header.header-scrolled .logo span {
  color: var(--dark-color-default);
}

body.dark .mobile-nav-toggle {
  color: var(--dark-color-default);
}

/*--------------------------------------------------------------

# NAVBAR

--------------------------------------------------------------*/
body.dark .navbar a,
body.dark .navbar a:focus {
  color: var(--dark-color-default);
}

body.dark .navbar a:hover,
body.dark .navbar .active,
body.dark .navbar .active:focus,
body.dark .navbar li:hover > a {
  color: var(--color-secondary);
}

body.dark .navbar-mobile a:not(.getstarted),
body.dark .navbar-mobile a:focus {
  color: var(--color-blue);
}
body.dark .navbar-mobile a:hover,
body.dark .navbar-mobile .active,
body.dark .navbar-mobile li:hover > a {
  color: var(--dark-color-secondary) !important;
}

/*--------------------------------------------------------------

# COVER

--------------------------------------------------------------*/
body.dark .cover {
  width: 100%;
  height: 100vh;
  background: url(../img/main/cover-dark-bg.png) top center no-repeat;
  background-size: cover;
}

/*------------------------------------------

            RESPONSIVENESS

  --------------------------------------------*/

/** MOBILE NAVIGATION*/
@media (max-width: 768px) {
  body.dark .header .logo span {
    color: var(--dark-color-default);
  }

  body.dark .cover h1 {
    font-size: 32px;
    color: var(--dark-color-default);
  }

  body.dark .cover h2 {
    font-size: 24px;
    color: var(--dark-color-default);
  }
}

/** MID SCREEN AND/OR SMALL MONITORS NAVIGATION*/
@media (max-width: 991px) {
  body.dark .cover {
    height: auto;
    padding: 120px 0 60px 0;
    text-align: center;
  }
}
